<div class="modular-row features {{ page.header.class}}">
    {{ content }}
    <div class="feature-items pure-g">
    {% for feature in page.header.features %}
           <div class="feature pure-u-1-3 text-center">
               {% for image in feature.image %} 
                    <img class="profileImage" src="{{ image.path }}"/>
                {% endfor %}    
                <div class="feature-content">
                {% if feature.header %}
                <h4>{{ feature.header }}</h4>
                {% endif %}
                {% if feature.text %}
                <p class="teamText">{{ feature.text }}</p>
                {% endif %}
            </div>
        </div>
    {% if  loop.index % 3 == 0 %}
       {# put your code to close your div #}
       </div>
       <div class="feature-items pure-g">
    {% endif %}
    {% endfor %}
    </div>
</div>
