{% set showcase_image = page.media.images|first.brightness(0) %}
{% if showcase_image %}
	<div class="modular-row showcase flush-top fullwidth" style="background-size:cover; background-position: 100%; 	background: linear-gradient(rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.39)), rgba(0,0,0,0.55) url({{ showcase_image.url }}) no-repeat center; background-size: cover;">
{% else %}
<div class="modular-row showcase fullwidth">
{% endif %}
    {{ content }}
<!--     <a class="button" href="/contact-us">Contact Us</a>
 --></div>
