{% embed 'partials/base.html.twig' %}
	{% set collection = page.collection() %}
	{% block content %}
		<div class="blog-header pure-g">
			{{ page.content }}
		</div>
		{% if config.plugins.breadcrumbs.enabled %}
			{% include 'partials/breadcrumbs.html.twig' %}
		{% endif %}
		<div class="content-wrapper blog-content-list">
			<div id="listing" class="block h-feed pure-g">
				{% for child in collection %}
			        {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
			    {% endfor %}

                {% if config.plugins.pagination.enabled and collection.params.pagination %}
                    {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
                {% endif %}
			</div>
		</div>
	{% endblock %}

{% endembed %}


