{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="container">
	<div id="error">
		<div>
			<h1>{{ 'ERROR'|t }} {{ page.header.http_response_code }}</h1>
			<p>
				{{ page.content }}
			</p>
		</div>
	</div>
</div>
{% endblock %}
