{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="container pure-g">
    <div class="pure-u-1-1"><h1>Contact Us</h1></div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
    	{% include "forms/form.html.twig" %}
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
    	<p>{{ content }}</p>
	</div>
</div>
{% endblock %}
