{% embed 'partials/base.html.twig' %}
	{% block content %}
	<div class="container pure-g">
		{% if config.plugins.breadcrumbs.enabled %}
			{% include 'partials/breadcrumbs.html.twig' %}
		{% endif %}
		
		<div>
			<div id="item" class="block h-entry">
			    {% include 'partials/blog_item.html.twig' with {'blog':page.parent, 'truncate':false} %}
			</div>
		</div>
	</div>
	{% endblock %}

{% endembed %}
